---
Language: Cpp
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: true
AlignEscapedNewlinesLeft: false
AllowShortFunctionsOnASingleLine: false
SpacesBeforeTrailingComments: 2
PenaltyReturnTypeOnItsOwnLine: 200
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
BreakBeforeBinaryOperators: true
ContinuationIndentWidth: 4
ColumnLimit: 100
NamespaceIndentation: None
DerivePointerAlignment: false
PointerAlignment: Left
AlignOperands: true
AlignEscapedNewlines: Left
SortIncludes: false
